<nav class="breadcrumb">
  <v:page.breadCrumb as="pages">
    <f:for each="{pages}" as="page"  iteration="iterator">
      <f:if condition="{iterator.isFirst}">
        <f:then>
          <f:link.typolink parameter="{settings.targets.pages.start}">
            Startseite
          </f:link.typolink>
        </f:then>
        <f:else>
          <f:link.typolink parameter="{page.uid}">
            {page.title}
          </f:link.typolink>
        </f:else>
      </f:if>
      {f:if(condition: iterator.isLast, then: '', else: '>')}
    </f:for>
  </v:page.breadCrumb>
</nav>
